.navBox{
    background-color: #8b5a2b ;
    color: white;
    position: fixed;
    width: 100%;
    animation: none;
    transition: none;
    z-index: 1000;
}
.navItems{
    /* background-color: #804c2e; */
    margin: 0 1.5rem;
    transition: .5s;
    align-self: center;
    /* height: 100%; */
}
.navItems:hover{
    border-radius: .3rem;
    /* color: black; */
    background-color: #3e7d5e;
}
img[src="src/photos/caffeeGif.gif"]{
    width: 28px;
    margin-right: 40px;
}